*{margin: 0;padding: 0;outline: 0}
body{font-family: verdana;font-size: 12px;line-height: 16px}
.template{width: 1000px;margin: 0 auto;border-left: 1px solid #2C2C2D;border-right: 1px solid #2C2C2D}
.clear{overflow: hidden}
h1, h2, h3, h4, h5, h6{font-weight: normal}
p{margin-bottom: 15px}
a{color: #000;font-weight: bold;text-decoration: none}
a:hover{text-decoration: underline}

.headersection {
	height: 60px;
	background: #EAF2F4;
	border-top: 5px solid #5B5C58;
	border-bottom: 1px solid #A6B5B8;
}
.header_left{float: left;width: 500px;font-family: georgia;color: #4D4E49}
.header_left h2 {
	float: left;
	font-size: 36px;
	line-height: 30px;
	margin-top: 16px;
	padding-left: 20px;
	padding-right: 45px;
	border-right: 1px solid;
}
.header_left p {
	float: left;
	font-size: 16px;
	margin-top: 20px;
	margin-left: 10px;
}

.header_right {
	float: right;
	width: 290px;
	margin-right: 20px;
	margin-top: 15px;
}
.header_right input[type="text"]{width: 245px;background: #D5E5E8;border:1px solid #a1bcc2;padding:5px}
.header_right input[type="submit"] {
	background: #D5E5E8;
	border: 1px solid #a1bcc2;
	padding: 5px;
    cursor: pointer
}

.menusection {
	background: #eaf2f4;
	height: 45px;
}
.menu_left {
	float: left;
	width: 780px;
}
.menu_left ul{margin: 0;padding: 0;list-style: none}
.menu_left ul li {
	float: left;
	display: block;
	padding: 10px 25px;
	border-right: 1px solid #A6B5B8;
	font-size: 16px;
	font-family: georgia;
	margin: 3px 0px;
}
.menu_left ul li:last-child{border-right: none}
.menu_left ul li a{display: block;color: #666}
.menu_left ul li a:hover{}

.menu_right {
	float: right;
	width: 215px;
	color: #666;
	margin-top: 5px;
	font-size: 12px;
}
.menu_right p{margin: 0}

.bannersection{background: #049BAC;height: 335px;border-top: 2px solid #116fa6;border-bottom: 2px solid #116fa6}

.banner_left {
	float: left;
	width: 466px;
	margin-right: 20px;
	margin-left: 20px;
}
.banner_left h2 {
	font-family: georgia;
	font-size: 36px;
	color: #fff;
	line-height: 40px;
	border-bottom: 1px solid #82cdd6;
	margin-top: 45px;
	margin-bottom: 20px;
	padding-bottom: 15px;
}
.banner_left p {
	font-family: verdana;
	color: #fff;
	line-height: 18px;
}

.banner_linker{}

.banner_link {
	width: 155px;
	float: left;
	background: #dedede;
	margin-right: 60px;
	padding: 10px 20px;
	margin-top: 15px;
}
.banner_link a {
	color: #333333;
	font-family: georgia;
	font-size: 22px;
	font-weight: normal;
}
.banner_link a:hover{}

.banner_right {
	float: right;
	width: 474px;
	margin-right: 20px;
}
.banner_right img {
	margin-top: 50px;
	margin-left: 15px;
	background: #EAF2F4;
	padding: 8px;
	border: 1px solid #666;
}
.servicesection{background: #EAF2F4}
.services {
	margin: 30px 20px;
	border-bottom: 1px solid #fff;
	padding-bottom: 30px;
}

.service {
	width: 238px;
	border: 1px solid #D1DBDC;
	float: left;
}
.service h2 {
	font-family: georgia;
	font-size: 22px;
	color: #0D9EAF;
	padding: 20px;
	background: #F1F7F7;
	text-align: center;
	border-bottom: 1px solid #D1DBDC;
	margin-bottom: 25px;
}

.sameservice {
	padding: 0px 10px 10px 10px;
}
.sameservice h3 {
	font-family: georgia;
	font-size: 22px;
	color: #666;
	border-bottom: 1px solid #666;
	padding-bottom: 5px;
	margin-bottom: 5px;
}
.sameservice p {
	color: #666;
}
.sameservice a {
    color: #666;
	float: right;
}
.sameservice a:hover{}

.contentsection{background: #EAF2F4}

.content_left{float: left;width: 400px;margin-left: 20px;margin-right: 20px}
.content_left h2 {
	font-family: georgia;
	font-size: 22px;
	color: #666;
	padding-bottom: 8px;
}

.content_left_desc {
	padding-top: 25px;
	border-top: 1px solid #CFDADA;
	padding-bottom: 25px;
}
.left_image{float: left;width: 90px;margin-right: 10px}
.left_image img {
	background: #EAF2F4;
	padding: 5px;
	border: 1px solid #013D61;
}
.right_text {
	float: left;
	width: 300px;
	color: #666;
}
.right_text h4 {
	font-weight: bold;
}
.right_text p {
	margin-bottom: 5px;
	line-height: 17px;
}
.right_text a {
	float: right;
}
.right_text a:hover{}

.content_right{float: right;width: 500px;margin-right: 20px}
.content_right h2{font-family: georgia;font-size: 22px;color: #666;border-bottom: 1px solid #CFDADA;padding-bottom: 8px;margin-bottom: 20px}
.content_right img {
	float: left;
	margin-right: 20px;
	background: #EAF2F4;
	padding: 5px;
	border: 1px solid #444;
}
.content_right h4 {
	font-weight: bold;
	color: #666;
	margin-bottom: 10px;
}
.content_right p {
	color: #666;
	margin-bottom: 12px;
}

.footertop {
	background: url(img/footerbg.png) repeat;
	height: 220px;
	border-bottom: 2px solid #3d3d3d;
}

.samefooter {
	width: 307px;
	float: left;
	margin-left: 20px;
}
.samefooter h2 {
	font-family: georgia;
	font-size: 22px;
	color: #b5b5b5;
	border-bottom: 1px solid #b5b5b5;
	line-height: 30px;
	margin-top: 30px;
	margin-bottom: 20px;
	padding-bottom: 5px;
}
.samefooter p {
	margin-bottom: 10px;
	color: #98989a;
}
.samefooter input[type="text"] {
	width: 245px;
	padding: 5px;
	margin-bottom: 15px;
}
.samefooter input[type="submit"] {
	background: #fff;
	padding: 3px;
	border: 1ps solid #fff;
	cursor: pointer;
}
.samefooter a{color: #b5b5b5}
.samefooter ul{margin: 0;padding: 0;list-style: none}
.samefooter ul li {
	padding-bottom: 10px;
}
.samefooter ul li a {
	color: #049bac;
	font-weight: normal;
}
.samefooter ul li a:hover{}

.footerbottom {
	background: url(img/footerbottombg.png) repeat;
	color: #fff;
	padding-top: 15px;
	height: 30px;
}

.footleft{float: left;margin-left: 20px}
.footleft p{}

.footright{float: right;margin-right: 20px}
.footright p{}